{% block navbar %} {% include 'navbar.html' %} {% endblock %} {% block content
%}
<html>
  <h1 style="padding: 20px">Register</h1>
  <div class="container" style="padding: 20px">
    <form method="POST">
      <!-- post : handle submission -->
      <h2>Sign Up</h2>
      {{ form.csrf_token }} {{ form.username.label}} {{form.username()}} <br />
      {{ form.email.label}} {{form.email()}}<br />
      {{ form.password.label}} {{form.password()}}<br />
      {{ form.submit()}}
    </form>
    <br />
  </div>
  <!-- /container -->
</html>
{% endblock %}
